[[inputs.tail]]
  files = ["/opt/nxiq/log/policy-violation.log"]
  from_beginning = true
  #json_name_key = "eventType"
  #json_time_key = "eventTimestamp"
  #json_time_format = "yyyy-MM-ddTHH:mm:ss.SSSZ"
  tag_keys = ["policyName"]
  json_string_fields = ["eventType",
                        "eventTimestamp",
                        "policyId",
			                  "policyName", 
                        "policyThreatCategory", 
			                  "policyThreatLevel", 
                        "reason",
                        "stageTypeId",
                        "stagePolicyAction",
                        "organizationId",
                        "organizationName",
                        "applicationId",
                        "applicationPublicId",
                        "applicationName",
                        "policyConditionTriggers",
                        "componentIdentifier_format",
                        "componentIdentifier_coordinates_packageId",
                        "componentIdentifier_coordinates_version",
                        "componentIdentifier_coordinates_name",
                        "componentIdentifier_coordinates_platform",
                        "componentIdentifier_coordinates_extension",
                        "componentIdentifier_coordinates_qualifier",
                        "componentIdentifier_coordinates_groupId",
                        "componentIdentifier_coordinates_artifactId",
                        "componentIdentifier_coordinates_extension",
                        "componentIdentifier_coordinates_classifier",
                        "componentHash"
                        ]
  #json_query = "policyConditionTriggers"
  data_format = "json"

[[outputs.file]]
  files = ["stdout"]
  data_format = "json"

[[outputs.influxdb_v2]]
  urls = ["http://127.0.0.1:9999"]
  organization = "nexus-iq"
  bucket = "policy-violation"
  token = "$INFLUX_TOKEN"

